body {
	background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/textured_stripes.png');
	margin-top: 0px;
}
.heading {
	width: 1030px;
    height: 110px;
    background-color: #ffffff;
    font-family: "Georgia", Times, Times New Roman, serif;
    border-bottom: 3px solid #dbdbdb;
}

.logo {
	display: inline-block;
}

.heading .logo {
	padding-left: 140px;
	margin-top: 33px;
}

.container {
	display: inline-block;
}

.logo h1 {
	background-color: #4aaaa5;
	padding: 10px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	text-align: center;
}

.container p {
	display: inline-block;
	font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #dbdbdb;
	margin: 0px 5px 0px 5px;
}

.container ul {
	padding-right: 30px;
}


.jumbotron .large {
	width: 420px;
	height: 600px;
}



.heading .nav {
	float: right;
	position: relative
	padding-right: 260px;
	padding-top: 50px;
}

.nav li {
	color: #dbdbdb;
	font-weight: bold;
	float: left;
}

.jumbotron {
	background-color: #f0f0f0;
}

.jumbotron .large {
	width: 420px;
	height: 700px;
	border-style: solid;
	display: inline-block;
	float: left;
	overflow: hidden;
	border-color: #dcdcdc;
	background-color: #ffffff;
	padding: 20px 30px 0px 25px;
	margin: 60px 20px 0px 140px;
}

.jumbotron .small {
	width: 170px;
	height: 130px;
	float: left;
	border-style: solid;
	border-color: #dcdcdc;
	background-color: #ffffff;
	padding: 20px 30px 0px 25px;
	margin: 50px 10px 10px 140px;
}

.jumbotron .large h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 3px solid #dcdcdc;
	color: #4aaaa5;
	font-size: 40px;
}

.jumbotron .small .connect {
	text-align: center;
	padding-right: 0px;
}

.jumbotron .small .connect li {
	display: inline-block;
}

.jumbotron .small .connect li img {
	width: 35px;
	height: 35px;
	padding-right: 5px;
}

.jumbotron .about p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 20px;
}

.jumbotron .small h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 3px solid #dcdcdc;
	color: #4aaaa5;
	font-size: 15px;
}

.footer footer {
	margin: 25px 0px 0px 0px;
}

footer {
	background-color: #666666;
	color: #b2b1b0;
	border-top: 10px solid #4aaaa5;
	text-align: center;
	display: inline-block;
	padding: 35px 500px 35px 500px;
	font-size: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.jumbotron .large .about .image {
   display: inline-block;
   width: 100%;
}

.jumbotron .large .about .image #id .image img {
	display: inline-block;
	overflow: hidden;
	position: right;
	width: 30px;
	height: 30px;
}

.jumbotron .large .about .image h3 { 
   color: #ffffff;
   text-align: center;
   padding-right: 190px;
   margin-right: 190px;
   background-color: #4aaaa5;
   font-size: 15px;
}





#box {
	width: 140px;
    height: 140px;
    float: left;
    display: inline-block;
    margin: 20px;
    top: 0;
    border: 1px solid #dbdbdb;
}

.label {
	width: 120px;
    height: 30px;
    text-align: center;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    font-family: 'Georgia';
    position: relative;
    bottom: 30px;
    z-index: 0;
    background-color: teal;
    display: inline-block;
}

.jumbotron .large .about #box .label p {
	color: #ffffff;
	font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0px 0px 20px 0px;
	font-size: 17px;
}